:root {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 800;
}

.box-container {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d3d6da;
    height: 6rem;
    width: 6rem;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
}

#answer-feedback {
    text-align: center;
    padding: 1.7rem;
    font-weight: 600;
}

.box-letter {
    border-color: #939598;
}

.correct {
    background-color: #6aaa64;
    border-color: #6aaa64;
}

.wrong {
    background-color: #939598;
    border-color: #939598;
}

.misplaced {
    background-color: #c9b458;
    border-color: #c9b458;
}

